
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">

        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="~/img/brand/blue.png" class="navbar-brand-img" alt="...">
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">

                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="/">
                                <img src="~/img/brand/blue.png">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path == "/tenants" ? "active" : "")" href="@Url.Action("Index", "Tenants")">
                            <i class="ni ni-single-02 text-yellow"></i> Existing Tenants
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path == "/registration" ? "active" : "")" href="@Url.Action("Index", "Registration")">
                            <i class="ni ni-single-02 text-yellow"></i> New Registrations
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path == "/unapproved-device-auth" ? "active" : "")" href="@Url.Action("Index", "DeviceAuth")">
                            <i class="ni ni-spaceship text-yellow"></i> Unapproved Device Auth
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path == "/icons" ? "active" : "")" href="@Url.Action("Icons")">
                            <i class="ni ni-planet text-orange"></i> Icons
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path == "/maps" ? "active" : "")" href="@Url.Action("Maps")">
                            <i class="ni ni-pin-3 text-primary"></i> Google
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</nav>
