@model Tenancy.Management.Models.TenantModel


<div class="col-xl-4 order-xl-2">
    <div class="card card-profile">
        <img src="~/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                    <a href="/@(Model.Id)/users">
                        <img src="~/img/theme/team-4.jpg" class="rounded-circle">
                    </a>
                </div>
            </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
                <a href="/@(Model.Id)/users" class="btn btn-sm btn-info mr-4">View Users</a>
                <a href="/@(Model.Id)/apps/running" class="btn btn-sm btn-default float-right">View Live App</a>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col">
                    <div class="card-profile-stats d-flex justify-content-center">
                        <div>
                            <span class="heading">@ViewData["UserCount"]</span>
                            <span class="description">Users</span>
                        </div>
                        <div>
                            <span class="heading">@ViewData["MenuCount"]</span>
                            <span class="description">Menus</span>
                        </div>
                        <div>
                            <span class="heading">@ViewData["AssetCount"]</span>
                            <span class="description">Assets</span>
                        </div>
                        <div>
                            <span class="heading">@ViewData["TextAdsCount"]</span>
                            <span class="description">Text ADs</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h5 class="h3">
                    @(Model.Name != null ? Model.Name : Model.Name)<span class="font-weight-light"></span>
                </h5>
                <div class="h5 font-weight-300">
                    <i class="ni location_pin mr-2"></i>
                    @Model.Address, @Model.City @Model.Country
                </div>
                <div class="h5 font-weight-300">
                    <i class="ni location_pin mr-2"></i>
                    @Model.Postcode
                </div>
                <div class="h5 mt-4">
                    <i class="ni business_briefcase-24 mr-2"></i>
                    @Model.Telephone
                </div>
                <div>
                    <i class="ni education_hat mr-2"></i>@Model.Email
                </div>
            </div>
        </div>
    </div>
</div>